<section class="clearfix" id="welcome-section">
    <div class="welcome-forms">
        <div class="welcome-rigister-form">
            <h1>Register</h1>
            {{> registerForm}}
        </div>
    </div>
</section>